/* variables.css */
:root {
    --color-primary: #134D66;
    --color-secondary: #FFB48F;
    --color-accent: #FAEDE3;
    --color-light: #F5F5F5;
    --color-dark: #0A2A43;

    --font-primary: 'Lato', sans-serif;
    --font-secondary: 'Poppins', sans-serif;

    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;

    --radius-small: 5px;
    --radius-large: 10px;
}
